.message-wrapper {
	margin-top: 100px;
}
.message {
	display: flex;
	padding-top: 100px;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	font-size: 19px;
}
.message span {
	display: flex;
	justify-content: center;
	font-size: 24px;
	padding-left: 10px;
	align-items: center;
}
